$coral: #ff5858;
$rojo: #d62000;
$amarillo: rgb(218, 183, 27);

$paletaDeColores: (
    color1: #ff5858,
    color2: #d62000,
    color3: rgb(218, 183, 27),
    color4: #c95b12
);

@mixin fondo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corresponde a la barra de navegacion */
.navbar {
    background-image: linear-gradient(-60deg, $coral 0%, #f09819 100%);

    a {
        text-decoration: none;
        color: white !important;

        &:hover {
            color: $amarillo !important;
        }
    }
}

/* corresponde al footer */
.footer {
    background-color: black;
    color: $amarillo;
    font-size: 20px;
    text-align: center;
}

.redes i {
    transition: 0.7s;
    font-size: 30px;
    padding: 10px;

    &:hover {
        color: $rojo;
        cursor: pointer;
        transform: translateY(-15px);
        transition: all 0.7s;
    }
}

/* corresponde a la pagina de inicio */
.tituloInicio {
    text-align: center;
    color: map-get($paletaDeColores , color1 );
    font-size: 25px;
}

.fondo-inicio {
    background-image: url(./media/galeria3.jpg);
    @include fondo();
}

.video {
    color: $amarillo;
    font-size: 17px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

/* corresponde a la pagina de galeria */

.galeria {
    @extend .discografia;
}

    .tituloGaleria {
        font-size: 25px;
        text-align: center;
        font-weight: 600;
        color: map-get($paletaDeColores ,color4 );
    }

    img {
        padding-top: 10px;
        width: 100%;
    }

/* corresponden a la pagina de suscribite */
.formulario {
    background-color: rgba(205, 136, 26, 0.534);
    padding: 30px;
    border-radius: 30px;

    label {
        color: #3e0202;
        font-weight: 600;
        padding-left: 15px !important;
    }

    h2 {
        color: #3e0202;
        font-size: 25px !important;
    }
}

.fondo-suscribite {
    background-image: url(./media/fondoqueen2.jpg);
    @include fondo();
    width: 100%;
    height: 1000px;
}

.btn-primary {
    background: #f09819 !important;
    border-color: $coral !important;

    &:hover {
        color: $coral !important;
    }
}

/* corresponde a la pagina conciertos */
.fondo-conciertos {
    height: 1000px;
    background-image:url(./media/fondo1.jpg);
    @include fondo();
}

.tituloConciertos {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    color: map-get($paletaDeColores , color3 );
}



/* corresponde a la pagina de discografia */
/* corresponde a la pagina discografia */

.discografia {
    width: 100%;
    background-color: #faca86c6;

    img {
        padding-top: 10px;
        width: 100%;
    }
}

.tituloDiscografia {
    font-size: 25px;
    text-align: center;
    color: map-get($paletaDeColores , color2 );
    font-weight: 600;
}

.descripcionDeDiscos {
    font-size: 20px !important;
    color: #d26f04;
}

.textoDiscografia {
    font-size: 15px !important;
    font-weight: 500;
}

@media only screen and (min-width: 900px) {
    .formulario {
        height: 600px !important;
        width: 700px !important;
    }

    .inframe {
        width: 600px;
        height: 450px;
    }
}

/*# sourceMappingURL=estilos.css.map */
/*# sourceMappingURL=estilos.css.map */