* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* corresponde a la barra de navegacion */
.navbar {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.navbar a {
  text-decoration: none;
  color: white !important;
}
.navbar a:hover {
  color: rgb(218, 183, 27) !important;
}

/* corresponde al footer */
.footer {
  background-color: black;
  color: rgb(218, 183, 27);
  font-size: 20px;
  text-align: center;
  font-family: "Caveat", cursive;
}

.redes i {
  transition: 0.7s;
  font-size: 30px;
  padding: 10px;
}
.redes i:hover {
  color: #d62000;
  cursor: pointer;
  transform: translateY(-15px);
  transition: all 0.7s;
}

/* corresponde a la pagina de inicio */
.tituloInicio, .tituloConciertos {
  text-align: center;
  color: #d62000;
  font-size: 28px;
  font-family: "Source Code Pro", monospace;
}
.tituloInicio:hover, .tituloConciertos:hover {
  color: rgb(218, 183, 27);
  cursor: pointer;
  transition: all 0.7s;
}

.fondo-inicio {
  background-image: url(./media/galeria3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  color: rgb(218, 183, 27);
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Code Pro", monospace;
  margin-left: 10px;
  margin-right: 10px;
}

/* corresponde a la pagina de galeria */
.tituloGaleria {
  font-size: 28px;
  text-align: center;
  font-family: "Rubik Dirt", cursive;
  color: rgb(255, 77, 0);
}
.tituloGaleria:hover {
  color: rgb(218, 183, 27);
  cursor: pointer;
  transition: all 0.7s;
}

img {
  padding-top: 10px;
  width: 100%;
}

/* corresponden a la pagina de suscribite */
.hero {
  min-height: 100vh;
  position: relative;
}

.video-formulario {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -999;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3e0202;
  opacity: 0.5;
  mix-blend-mode: overlay;
  z-index: -2;
}

.formulario-contenedor {
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
}

.formulario {
  background-color: rgba(205, 136, 26, 0.534);
  padding: 30px;
  border-radius: 30px;
  z-index: 100;
}
.formulario label {
  color: #3e0202;
  font-weight: 600;
  padding-left: 15px !important;
  font-family: "Caveat", cursive;
}
.formulario h2 {
  color: #3e0202;
  font-size: 28px !important;
  font-family: "Caveat", cursive;
  z-index: 100;
}
.formulario h2:hover {
  color: rgb(218, 183, 27);
  cursor: pointer;
  transition: all 0.7s;
}

.btn-primary {
  background: #f09819 !important;
  border-color: #ff5858 !important;
  font-family: "Caveat", cursive;
}
.btn-primary:hover {
  color: #ff5858 !important;
}

/* corresponde a la pagina conciertos */
.fondo-conciertos {
  height: auto;
  background-image: url(./media/fondoconciertos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tituloConciertos:hover {
  color: rgb(218, 183, 27);
  cursor: pointer;
  transition: all 0.7s;
}

.video-conciertos {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  color: #d62000;
}

.textoConciertos {
  color: rgb(218, 183, 27);
  font-size: 20px;
  font-family: "Uchen", serif;
}

/* corresponde a la pagina discografia */
.discografia, .galeria {
  width: 100%;
  background-color: rgba(250, 202, 134, 0.7764705882);
}
.discografia img, .galeria img {
  padding-top: 10px;
  width: 100%;
}

.tituloDiscografia {
  font-size: 28px;
  text-align: center;
  color: #d62000;
  font-family: "Source Code Pro", monospace !important;
}
.tituloDiscografia:hover {
  color: rgb(218, 183, 27);
  cursor: pointer;
  transition: all 0.7s;
}

.descripcionDeDiscos {
  font-size: 22px !important;
  color: #d26f04;
  font-family: "Source Code Pro", monospace !important;
}

.textoDiscografia {
  font-size: 18px !important;
  font-family: "Source Code Pro", monospace;
}

@media only screen and (min-width: 900px) {
  .formulario {
    height: 600px !important;
    width: 700px !important;
  }
  .inframe {
    width: 600px;
    height: 450px;
  }
}
/*# sourceMappingURL=estilos.css.map */
/*# sourceMappingURL=estilos.css.map *//*# sourceMappingURL=estilos.css.map */