*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* corresponde a la barra de navegacion */
.navbar{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.navbar ul li a{
    text-decoration: none;
    color: white !important;
}
.navbar ul li a:hover{
    color:#ff5858 !important;   
}
/* corresponde al footer */
.footer{
    background-color: black;
    color: rgb(218, 183, 27);
    font-size: 15px;
    text-align: center;
}
/* corresponde a la pagina de inicio */
.fondo-inicio{
    background-image: url(./media/galeria3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.video{
    color: rgb(218, 183, 27);
    font-size: 17px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
/* corresponde a la pagina de galeria */
img{
    padding-top: 10px;
    width: 100%;
}
/* corresponden a la pagina de suscribite */
.formulario{
    background-color: rgba(205, 136, 26, 0.534);
    padding: 30px;
    border-radius: 30px;
}
.form-label{
    color: #3e0202;
    font-weight: 600;
}
h2{
    color: #3e0202;
    font-size: 25px !important;
}
.boton{
    /* width: 26%; */
    background: #f09819;
    padding: 10px;
    color: white;
}
.fondo-suscribite{
    background-image: url(./media/fondoqueen2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;;
    height: 1000px;
}
.boton:hover{
    color:#ff5858;
}
/* corresponde a la pagina conciertos */
.fondo-conciertos{
    height: 1000px;
}
/* corresponde a la pagina discografia */
.fondo-discografia{
    height: 1000px;  
}