$coral: #ff5858;
$rojo: #d62000;
$amarillo: rgb(218, 183, 27);

$paletaDeColores: (color1: #ff5858,
    color2: #d62000,
    color3: rgb(218, 183, 27),
    color4: rgb(255, 77, 0));

@mixin fondo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin hover {
    &:hover {
        color: $amarillo;
        cursor: pointer;
        transition: all 0.7s;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corresponde a la barra de navegacion */
.navbar {
    background-image: linear-gradient(-60deg, $coral 0%, #f09819 100%);

    a {
        text-decoration: none;
        color: white !important;

        &:hover {
            color: $amarillo !important;
        }
    }
}

/* corresponde al footer */
.footer {
    background-color: black;
    color: $amarillo;
    font-size: 20px;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.redes i {
    transition: 0.7s;
    font-size: 30px;
    padding: 10px;

    &:hover {
        color: $rojo;
        cursor: pointer;
        transform: translateY(-15px);
        transition: all 0.7s;
    }
}

/* corresponde a la pagina de inicio */
.tituloInicio {
    text-align: center;
    color: map-get($paletaDeColores, color2);
    font-size: 28px;
    font-family: 'Source Code Pro', monospace;
    @include hover();
}

.fondo-inicio {
    background-image: url(./media/galeria3.jpg);
    @include fondo();
}

.video {
    color: $amarillo;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Source Code Pro', monospace;
    margin-left: 10px;
    margin-right: 10px;
}

/* corresponde a la pagina de galeria */

.galeria {
    @extend .discografia;
}

.tituloGaleria {
    font-size: 28px;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    color: map-get($paletaDeColores, color4);
    @include hover();
}

img {
    padding-top: 10px;
    width: 100%;
}

/* corresponden a la pagina de suscribite */
.formulario {
    background-color: rgba(205, 136, 26, 0.534);
    padding: 30px;
    border-radius: 30px;

    label {
        color: #3e0202;
        font-weight: 600;
        padding-left: 15px !important;
        font-family: 'Caveat', cursive;
    }

    h2 {
        color: #3e0202;
        font-size: 28px !important;
        font-family: 'Caveat', cursive;
        @include hover();
    }
}

.fondo-suscribite {
    background-image: url(./media/fondoqueen2.jpg);
    @include fondo();
    width: 100%;
    height: 1000px;
}

.btn-primary {
    background: #f09819 !important;
    border-color: $coral !important;
    font-family: 'Caveat', cursive;

    &:hover {
        color: $coral !important;
    }
}

/* corresponde a la pagina conciertos */
.fondo-conciertos {
    height: auto;
    background-image: url(./media/fondoconciertos.jpg);
    @include fondo();
}

.tituloConciertos {
    @extend .tituloInicio;
    @include hover();
}

.video-conciertos {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    color: map-get($paletaDeColores, color2);
}

.textoConciertos {
    color: map-get($paletaDeColores, color3);
    font-size: 20px;
    font-family: 'Uchen', serif;
}
/* corresponde a la pagina discografia */

.discografia {
    width: 100%;
    background-color: #faca86c6;

    img {
        padding-top: 10px;
        width: 100%;
    }
}

.tituloDiscografia {
    font-size: 28px;
    text-align: center;
    color: map-get($paletaDeColores, color2);
    font-family: 'Source Code Pro', monospace !important;
    @include hover();
}

.descripcionDeDiscos {
    font-size: 22px !important;
    color: #d26f04;
    font-family: 'Source Code Pro', monospace !important;
}

.textoDiscografia {
    font-size: 18px !important;
    font-family: 'Source Code Pro', monospace;
}

@media only screen and (min-width: 900px) {
    .formulario {
        height: 600px !important;
        width: 700px !important;
    }

    .inframe {
        width: 600px;
        height: 450px;
    }
}

/*# sourceMappingURL=estilos.css.map */
/*# sourceMappingURL=estilos.css.map */